name: test
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    
    steps:
      - run: |
          python -c "import locale; print('platform preferred encoding is', locale.getpreferredencoding())"
          python -c "f = open('testfile', 'w'); f.write('—')"
          sha256sum testfile
      - run: |
          python -X utf-8 -c "import locale; print('platform preferred encoding is', locale.getpreferredencoding())"
          python -X utf-8 -c "f = open('testfile', 'w'); f.write('—')"
          sha256sum testfile
